<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- ENABLING DEPENDENCY INJECTION
		For more info read "LLBLGenPro Help - Depedency Injection mechanism"-->
		<section name="dependencyInjectionInformation" type="SD.LLBLGen.Pro.ORMSupportClasses.DependencyInjectionSectionHandler, SD.LLBLGen.Pro.ORMSupportClasses, Version=5.0.0.0, Culture=neutral, PublicKeyToken=ca73b74ba4e3ff27"/>
	</configSections>

	<!-- SPECIFYING DI INFORMATION
	Comment/Uncomment assemblies to enabled/disabled Aythorizers injected to your EntityClasses
	For more info read "LLBLGenPro Help - Depedency Injection mechanism" -->
	<dependencyInjectionInformation>
		<additionalAssemblies>
			<assembly filename="..\..\..\Authorizers\bin\debug\Authorizers.dll"/>
		</additionalAssemblies>
	</dependencyInjectionInformation>

	<appSettings>
		<add key="Main.ConnectionString.SQL Server (SqlClient)" value="data source=.;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096"/>
		<add key="DefaultPageSize" value="10"/>
		<!--<add key="SqlServerDQECompatibilityLevel" value="1" />-->

		<!-- ENABLING DI DISCOVERY
		To avoid a discovery over a lot of assemblies in your application's app-domain, automatic 
		discovery of instance types in the assemblies used in your application is switched off by default. 
		To switch it on, uncomment the following line.		
		For more info read "LLBLGenPro Help - Depedency Injection mechanism" -->
		<!--<add key="autoDependencyInjectionDiscovery" value="true"/>-->
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
