<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="RemoteConfig"
            maxReceivedMessageSize="65536000" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WCFService/CustomerService.svc"
                name="WCFServer"
                binding="wsHttpBinding"
                bindingConfiguration="RemoteConfig"
                contract="SD.LLBLGen.Pro.Examples.WCF.ServiceInterface.INorthwindService" />
    </client>
  </system.serviceModel>
</configuration>