<?xml version="1.0"?>
<configuration>
	
	<configSections>
		<!-- ENABLING DEPENDENCY INJECTION
		For more info read "LLBLGenPro Help - Depedency Injection mechanism"-->
		<section name="dependencyInjectionInformation" type="SD.LLBLGen.Pro.ORMSupportClasses.DependencyInjectionSectionHandler, SD.LLBLGen.Pro.ORMSupportClasses, Version=5.9.0.0, Culture=neutral, PublicKeyToken=ca73b74ba4e3ff27"/>
	</configSections>

	<!-- SPECIFYING DI INFORMATION
	Comment/Uncomment assemblies to enabled/disabled Auditors injected to your EntityClasses
	For more info read "LLBLGenPro Help - Depedency Injection mechanism" -->
	<dependencyInjectionInformation>
		<additionalAssemblies>
			<assembly filename="SimpleTextFileAuditor.dll"/>
			<assembly filename="DatabaseAuditor.dll"/>
			<assembly filename="DatabaseAuditorSpecific.dll"/>
		</additionalAssemblies>
	</dependencyInjectionInformation>

	
	<appSettings>
		<!-- ENABLING DI DISCOVERY
		To avoid a discovery over a lot of assemblies in your application's app-domain, automatic 
		discovery of instance types in the assemblies used in your application is switched off by default. 
		To switch it on, uncomment the following line.		
		For more info read "LLBLGenPro Help - Depedency Injection mechanism" -->
		<!--<add key="autoDependencyInjectionDiscovery" value="true"/>-->

		<!-- Used by SimpleTextAuditor class to write entities tracking info. 
		If this key is missing, a default filename will be used ("c:\\noraudit.txt")-->
		<add key="SimpleTextAuditorTxtFileName" value="C:\\noraudit.txt"/>

		<!-- Change connection string to your DBServer and catalog-->
		<add key="Main.ConnectionString.SQL Server (SqlClient)" value="data source=.;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
