<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NetHttpBinding">
          <reliableSession />
          <compositeDuplex />
          <oneWay />
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WCFService/CustomerService.svc"
                name="WCFServer"
                binding="customBinding"
                bindingConfiguration="NetHttpBinding"
                contract="SD.LLBLGen.Pro.Examples.WCF.ServiceInterface.INorthwindService" />
    </client>
  </system.serviceModel>
</configuration>