<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- ENABLING DEPENDENCY INJECTION
    For more info read "LLBLGenPro Help - Depedency Injection mechanism"-->
    <section name="dependencyInjectionInformation" type="SD.LLBLGen.Pro.ORMSupportClasses.DependencyInjectionSectionHandler, SD.LLBLGen.Pro.ORMSupportClasses, Version=5.5.0.0, Culture=neutral, PublicKeyToken=ca73b74ba4e3ff27"/>
  </configSections>
  <!-- SPECIFYING DI INFORMATION
  Comment/Uncomment assemblies to enabled/disabled Auditors injected to your EntityClasses
  For more info read "LLBLGenPro Help - Depedency Injection mechanism" -->
  <dependencyInjectionInformation>
    <additionalAssemblies>
      <assembly filename="SD.LLBLGen.Pro.Examples.Validation.Validators.dll"/>
    </additionalAssemblies>
  </dependencyInjectionInformation>
  <appSettings>
    <!-- Change connection string to your DBServer and catalog-->
    <add key="Main.ConnectionString.SQL Server (SqlClient)" value="data source=.;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096"/>
    <!--<add key="SqlServerDQECompatibilityLevel" value="1" />-->
    <!-- ENABLING DI DISCOVERY
    To avoid a discovery over a lot of assemblies in your application's app-domain, automatic 
    discovery of instance types in the assemblies used in your application is switched off by default. 
    To switch it on, uncomment the following line.    
    For more info read "LLBLGenPro Help - Depedency Injection mechanism" -->
    <!--<add key="autoDependencyInjectionDiscovery" value="true"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagName="datetextbox" tagPrefix="cc" src="~/HelperControls/DateTextBox.ascx"/>
        <add assembly="SD.LLBLGen.Pro.ORMSupportClasses.Web" namespace="SD.LLBLGen.Pro.ORMSupportClasses" tagPrefix="llblgenpro"/>
      </controls>
      <namespaces>
        <add namespace="SD.LLBLGen.Pro.Examples"/>
      </namespaces>
    </pages>
  </system.web>
  <!-- Trace switches. Only uncomment if you use them. Otherwise, comment the switches out to avoid performance hits. 
  <system.diagnostics>
    <switches>
      <add name="SqlServerDQE" value="0" />
      <add name="ORMGeneral" value="0" />
      <add name="ORMStateManagement" value="0" />
      <add name="ORMPersistenceExecution" value="0" />
    </switches>
  </system.diagnostics>
  -->
</configuration>