<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Main.ConnectionString" connectionString="data source=.\SQLExpress;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096"/>
  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="RemoteConfig"
            maxReceivedMessageSize="65536000" />
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="SD.LLBLGen.Pro.Examples.WCF.Service.NorthwindService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="RemoteConfig"
                  contract="SD.LLBLGen.Pro.Examples.WCF.ServiceInterface.INorthwindService"/>

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />        
      </service>
    </services>
  </system.serviceModel>
</configuration>