<?xml version="1.0"?>
<configuration>

	<configSections>
		<!-- ENABLING DEPENDENCY INJECTION
		For more info read "LLBLGenPro Help - Depedency Injection mechanism"-->
		<section name="dependencyInjectionInformation" type="SD.LLBLGen.Pro.ORMSupportClasses.DependencyInjectionSectionHandler, SD.LLBLGen.Pro.ORMSupportClasses, Version=4.2.0.0, Culture=neutral, PublicKeyToken=ca73b74ba4e3ff27"/>
	</configSections>

	<!-- SPECIFYING DI INFORMATION
	Comment/Uncomment assemblies to enabled/disabled Auditors injected to your EntityClasses
	For more info read "LLBLGenPro Help - Depedency Injection mechanism" -->
	<dependencyInjectionInformation>
		<additionalAssemblies>
			<assembly filename="SD.LLBLGen.Pro.Examples.Validation.Validators.dll"/>
		</additionalAssemblies>
	</dependencyInjectionInformation>

	<appSettings>
		<add key="Main.ConnectionString.SQL Server (SqlClient)" value="data source=.;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096"/>
		<!-- <add key="SqlServerDQECompatibilityLevel" value="1" /> -->
		<!-- ENABLING DI DISCOVERY
		To avoid a discovery over a lot of assemblies in your application's app-domain, automatic 
		discovery of instance types in the assemblies used in your application is switched off by default. 
		To switch it on, uncomment the following line.		
		For more info read "LLBLGenPro Help - Depedency Injection mechanism" -->
		<!--<add key="autoDependencyInjectionDiscovery" value="true"/>-->
	</appSettings>

	<!-- Trace switches. Only uncomment if you use them. Otherwise, comment the switches out to avoid performance hits. 
	<system.diagnostics>
		<switches>
			<add name="SqlServerDQE" value="0" />
			<add name="ORMGeneral" value="0" />
			<add name="ORMStateManagement" value="0" />
			<add name="ORMPersistenceExecution" value="0" />
		</switches>
	</system.diagnostics>
	-->

</configuration>
